<html lang="en">
{% include "head_include.html" %}
<body>
<nav class="red lighten-1">
    <div class="nav-wrapper">
        <a href="/admin_main" class="brand-logo center">Admin Main</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        </ul>
    </div>
</nav>
<div class="section">
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="/create_customer">Create Customer</a>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="/create_vehicle">Create Vehicle</a>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="/create_location">Create Location</a>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="pickup_vehicle_list">Vehicle to be picked up</a>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="drop_off_vehicles_list">Vehicle to be dropped off</a>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="available_vehicles">Search available Vehicle</a>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="order_list">All Orders</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
