<html lang="en">
{% include "head_include.html" %}
<body>
<nav class="red lighten-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">available bikes</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="admin_main">Admin Main</a></li>
        </ul>
    </div>
</nav>
<div class="section">
    <form action="" method="get">

        <!--<label for="start-datepicker" class="">Start Date</label>-->
        <input id="start-datepicker" name="s_date"
               type="text" class="datepicker datepicker-custom" placeholder="Start Date" required>
        <input id="end-datepicker" name="e_date"
               type="text" class="datepicker datepicker-custom" placeholder="End Date" required>
        <input type="submit" value="Search Date">

        <table>

            <thead>
            <tr>
                <th>Plate</th>
                <th>Bike Name</th>
                <th>Hotel</th>
                <th>Address</th>
            </tr>
            </thead>

            <tbody>
            {% for b in available_bikes %}

            <tr>
                <td><strong>
                    <a href="/fill_order/{{b.b_id}}">{{b.plate}}</a>
                </strong></td>
                <td>{{b.bike_name}}</td>
                <td>{{b.loc_name}}</td>
                <td>{{b.loc_address}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </form>

</div>
</div>
<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {format: "d-m-yyyy"});
});

</script>
</body>
</html>
