<html lang="en">
{% include "head_include.html" %}
<body>
<nav class="red lighten-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Bikes to drop off today</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="pickup_bikes_list">Bikes to be picked up</a></li>
            <li><a href="/">Main</a></li>
        </ul>
    </div>
</nav>
<div class="section">
    <table>

        <thead>
        <tr>
            <th>Plate</th>
            <th>Hotel</th>
            <th>Address</th>
        </tr>
        </thead>

        <tbody>
        {% for o in orders %}
        <tr>
            <td><b><a href="/hand_off_bike/{{o.b_id}}"> {{o.plate}}</a></b></td>
            <td>{{o.loc_name}}</td>
            <td>{{o.loc_address}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>

</script>
</body>
</html>
