<html lang="en">
{% include "head_include.html" %}
<body>
<nav class="red lighten-1">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Operator Main</a>
    </div>
</nav>
<div class="section">
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="pickup_bikes_list">Bikes to be picked up</a>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <a href="drop_off_bikes_list">Bikes to be dropped off</a>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>
