<html lang="en">
{% include "head_include.html" %}
<body>
<nav class="red lighten-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Pikup a vehiclefrom a customer</a>
    </div>
</nav>
<div class="section">
    <form action="{{form_data.order_id}}" method="post">

        <table>
            <tbody>
            <tr>
                <td>vehicle Plate</td>
                <td><strong>{{form_data.plates}}</strong></td>
            </tr>
            <tr>
                <td>vehicle Name</td>
                <td><strong>{{form_data.b_name}}</strong></td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td><strong>{{form_data.l_name}} {{form_data.f_name}}</strong></td>
            </tr>
            <tr>
                <td>Hotel</td>
                <td><strong>{{form_data.loc_name}}</strong></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><strong>{{form_data.loc_address}}</strong></td>
            </tr>
            <tr>
                <td>Mileage at start of the rental</td>
                <td><strong>{{form_data.mileage}}</strong></td>
            </tr>
            <tr>
                <td>Current Mileage</td>
                <td><input value="" type="number" name="current-mileage" required></td>
            </tr>
            <tr>
                <td>Rental Ends</td>
                <td><strong>{{form_data.end}}</strong></td>
            </tr>
            <tr>
                <td>Deposit</td>
                <td><strong>{{form_data.deposit}} {{form_data.d_curr}}</strong></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><strong>{{form_data.amount}} {{form_data.a_currency}}</strong></td>
            </tr>
            </tbody>
        </table>
        <input value="{{form_data.vehicle_id}}" name="vehicle-id" type="hidden">
        <input type="submit" value="End Rental">
    </form>

</div>
</body>
</html>
