<html lang="en">
<head>
    <title>Tabs VS Spaces</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav class="red lighten-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Bikes for today</a>
    </div>
</nav>
<div class="section">
    <table>

        <thead>
        <tr>
            <th>Plate</th>
            <th>Hotel</th>
            <th>Address</th>
        </tr>
        </thead>

        <tbody>
        {% for o in orders %}
        <tr>
            <td><b><a href="/hand_off_bike/{{o.b_id}}"> {{o.plate}}</a></b></td>
            <td>{{o.loc_name}}</td>
            <td>{{o.loc_address}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>

</script>
</body>
</html>
